[submodule "bench/third_party/openssl"]
	path = bench/third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "bench/third_party/libsodium"]
	path = bench/third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "bench/third_party/hacl-star"]
	path = bench/third_party/hacl-star
	url = https://github.com/project-everest/hacl-star.git
  ignore = dirty
[submodule "bench/third_party/compcert/CompCert"]
	path = bench/third_party/compcert/CompCert
	url = https://github.com/AbsInt/CompCert.git
[submodule "bench/third_party/jasmin/jasmin"]
	path = bench/third_party/jasmin/jasmin
	url = git@github.com:jasmin-lang/jasmin.git
	branch = array_cast
[submodule "bench/third_party/jasmin/coqword"]
	path = bench/third_party/jasmin/coqword
	url = git@github.com:jasmin-lang/coqword.git
